.img-logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    height: 70px;
    width: 100%;
    background-position: 20px center;
}

header {
    width: 100%;
    background-color: white;
    height: 70px;
    border-bottom: 1px solid #CCCCCC;
}

