.container {
    height: 70px;
    max-width: 1000px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* position: relative; */
    margin: 30px auto 30px auto;
    /* background-color: black; */
}